@model ARSWebMVC.Models.Profile
@{
    ViewBag.Title = "ChangePassword";
}
<section class="changepassword">
    <div class="container mt-5 mb-5">
        @using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { @class = "well form-horizontal col-md-6 col-sm-12 m-auto card-panel p-5" }))
        {
            <h3 class="text-center">Change Password <span class=""></span></h3>
            <hr />
            <div class="form-group d-none">
                <div class="col-md ">
                    <div class=" input-group">
                        @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control col-12" } })
                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger col-12" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label for="old_password" class="label-text ">Old Password</label>
                <div class="controls">
                    <input class="form-control" type="password" name="old_password">

                </div>
                <span class=" text-danger">@ViewBag.ErrorOld_password</span>
            </div>

            <div class="form-group">
                <label for="new_password" class="control-label">New Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <span class=" text-danger">@ViewBag.ErrorNew_password</span>
            <div class="control-group">
                <label for="confirm_password" class="label-text ">Confirm Password</label>
                <div class="controls">
                    <input class="form-control" type="password" name="confirm_password">
                </div>

                <span class=" text-danger">@ViewBag.ErrorConfirm_password</span>
            </div>

            <div class="form-group pt-2 text-right">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>

        }
    </div>
</section>