@model ARSWebMVC.Models.LoginModels
@{
    ViewBag.Title = "Login";
}
@*<section id="func-login" class="mt-5 mb-5">*@
<section id="func-login" class="mt-5 mb-5">
    @*<div id="func-login-col" class="col-md-3 m-auto card">*@
    <div id="func-login-col" class="m-auto col-md-4 card">
        <!-- Card body -->
        <!-- Material form register -->
        @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <p class="h4 text-center py-4">Login</p>
            <div class="text-md-center">
                <span class="text-danger">
                    @ViewBag.ErrorMessage
                </span>
                @if (@TempData["Status"] != null)
                {
                    <span class="text-danger">Please Login</span>
                    TempData.Keep("Status");
                }
            </div>
            <!-- Material input -->
         
            <!-- Material input text -->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                @Html.TextBoxFor(m => m.UserID, "", new { @class = "form-control" })
                <label for="UserID" class="font-weight-light">Your name</label>
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <label for="Password" class="font-weight-light">Your password</label>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="text-center py-4 mt-3">
                <button class="btn teal" id="btn_login_submit" type="submit">Login</button>
            </div>
        }
        <!-- Material form register -->
        <!-- Card body -->
    </div>
    <!-- Button trigger modal -->
</section>
<!-- Card -->
