@model ARSWebMVC.Models.Profile
@{
    ViewBag.Title = "Profile";
}

<div class=" mt-5 animated wow fadeIn pt-5">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-4  toppad card m-auto p-5">
            <div class="panel panel-info " >
                <div class="panel-heading">
                    <h3 class="panel-title">User Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-12 col-lg-12 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.FirstName):</td>
                                        <td>@Html.DisplayFor(s => s.FirstName)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.LastName):</td>
                                        <td>@Html.DisplayFor(s => s.LastName)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.Address):</td>
                                        <td>@Html.DisplayFor(s => s.Address)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.PhoneNumber):</td>
                                        <td>@Html.DisplayFor(s => s.PhoneNumber)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.EmailAddress):</td>
                                        <td>@Html.DisplayFor(s => s.EmailAddress)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.Sex):</td>
                                        @if (Model.Sex)
                                        {
                                            <td>Male</td>
                                        }
                                        else
                                        {
                                            <td>Female</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.Age):</td>
                                        <td>@Html.DisplayFor(s => s.Age)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.CreditCard):</td>
                                        <td>@Html.DisplayFor(s => s.CreditCard)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(s => s.SkyMiles):</td>
                                        <td>@Html.DisplayFor(s => s.SkyMiles)</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row text-center">
                                <div class="  col-md-12 col-lg-6 mt-2">
                                    @Html.ActionLink("Edit Your Profile", "EditProfile", "UserAccount", null, new { @class = "btn btn-default teal" })
                                </div>
                                <div class=" col-md-12 col-lg-6 mt-2">
                                    @Html.ActionLink("Change Password", "ChangePassword", "UserAccount", null, new { @class = "btn btn-default teal " })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



