@model ARSWebMVC.Models.Profile
@{
    ViewBag.Title = "Register";
}
<div class="container pt-5">
    @using (Html.BeginForm("Register", "UserAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " col-md-6 col-sm-12 form-register card-panel" }))
    {
        <h2 class="text-center"><b>Registration Form</b></h2>
        <hr />

        <div class="row">
            <div class="input-field col s12">
                @Html.TextBoxFor(s => s.UserID)
                <label for="password">Username</label>
                @Html.ValidationMessageFor(s => s.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                @Html.PasswordFor(s => s.Password)
                <label for="password">Password</label>
                @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input name="txtConfirmPassword" type="password" />
                <label for="password">Confirm Password</label>
                <span class=" text-danger">@ViewBag.ErrorConfirmPassword</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                @Html.TextBoxFor(s => s.FirstName)
                <label for="first_name">First Name</label>
                @Html.ValidationMessageFor(s => s.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col s6">
                @Html.TextBoxFor(s => s.LastName, "", new { @class = " " })
                <label for="last_name">Last Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                @Html.PasswordFor(s => s.Address)
                <label for="password">Address</label>
                @Html.ValidationMessageFor(s => s.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                @Html.PasswordFor(s => s.PhoneNumber)
                <label for="password">PhoneNumber</label>
                @Html.ValidationMessageFor(s => s.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                @Html.PasswordFor(s => s.EmailAddress)
                <label for="password">EmailAddress</label>
                @Html.ValidationMessageFor(s => s.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <label>
                    @Html.RadioButtonFor(s => s.Sex, true, new { @checked = true }) <span>Male</span>
                </label>
                <label>
                    @Html.RadioButtonFor(s => s.Sex, false)<span class="ml-2">Female</span>
                </label>
            </div>
        </div>

        <div class="row ">
            <div class="input-field col s6">
                @Html.TextBoxFor(s => s.Age, "", new { type = "number", min = "6", value = "6", max = "100" })
                @Html.ValidationMessageFor(s => s.Age, "", new { @class = "text-danger" })
                <label>Age</label>
            </div>
            <div class="col s6"></div>
        </div>



        <div class="row">
            <div class="input-field col s12">
                @Html.PasswordFor(s => s.CreditCard)
                <label for="password">CreditCard</label>
                @Html.ValidationMessageFor(s => s.CreditCard, "", new { @class = "text-danger" })
            </div>
        </div>
    

        <div class="form-group">
            <div class="col-md d-flex flex-row-reverse">
                <button type="submit" class="btn btn-dark d-flex">Submit<i class="material-icons right">send</i></button>
            </div>
        </div>
    }
</div>
