
@model Queue<List<ARSWebMVC.Models.Route>>
@using ARSWebMVC.Models
@{
    ViewBag.Title = "Choose Route";
    int i = 0;
}
<section>
    <div class="container card p-5 animated wow fadeIn mt-5">
        <h2 class="text-center mb-4">Choose Route</h2>

        @foreach (List<ARSWebMVC.Models.Route> lstRoute in Model)
        {
            using (Html.BeginForm("ChooseFlightSchedule", "Flight", new { lstRoute = lstRoute }, FormMethod.Post))
            {
                i++;

                <div>


                    <div></div>
                    <!-- Card -->
                    <div class="card mb-3">
                        <!-- Card content -->
                        <div class="card-body">
                            <div class="row ">
                                <div class="col d-flex align-items-center "><h4 class="card-title mb-0">@lstRoute.First().CityA.Name to @lstRoute.Last().CityB.Name</h4></div>
                                <div class="col d-flex align-items-center">
                                    <div>@lstRoute.Count Stops ; <span>Skymile: @lstRoute.Sum(r => r.SkyMiles)</span></div>
                                </div>
                                <div class="col ">
                                    <button class="btn-outline-default btn teal p-2" type="button" data-toggle="collapse" data-target="#collapseExample@(i)" aria-expanded="false" aria-controls="collapseExample">More Details</button>
                                    <input type="submit" class="  btn teal p-2" value="Choose" />
                                </div>
                            </div>
                            
                            <!-- Button -->
                        </div>
                        <div class="collapse pl-3 pr-3" id="collapseExample@(i)">
                            <div class="">
                                <table class="table table-hover">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th>FROM</th>
                                            <th>TO</th>
                                            <th>SKYMILE</th>
                                        </tr>
                                    </thead>
                                    @foreach (ARSWebMVC.Models.Route route in lstRoute)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@route.CityA.Name</td>
                                                <td>@route.CityB.Name</td>
                                                <td>@route.SkyMiles</td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- / Collapse buttons -->
                    <!-- Collapsible element -->

                </div>
            }
        }
    </div>
</section>