@using ARSWebMVC.Models
@{
    ViewBag.Title = "TicketDetail";

}
<section class="ticketdetail pt-5 pb-5">
    <div class="container">
        <div class="card-panel p-0 mb-0">
            <div class="grey lighten-4 p-3"></div>
            <div class="teal p-3"></div>
        </div>
        <div class=" card-panel mt-0">

            <div class="row">
                <div class="col">
                    <b class="text-center text-md-left pt-2"> NAME OF PASSENGER&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.Profile.LastName</span>
                    <span>@Model.Profile.FirstName</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">TICKET CODE&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.TicketCode</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">STATUS&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.Status</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">CHILDREN COUNT&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.ChildrenCount</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">ADULT COUNT&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.AdultCount</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">CLASS&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.AirplaneClassID</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">ORDER DATE&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.OrderDate</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b class="text-center pt-2">TOTAL COST&nbsp;:</b>
                </div>
                <div class="col-8 ml-auto text-center">
                    <span>@Model.TotalCost</span><span>&nbsp;$</span>
                    <hr class="m-1" />
                </div>
            </div>

            <div>Your Flights</div>

  



            <hr class="mb-5" />
            @if (Model.Status == "Blocked")
            {
                <div class="d-flex justify-content-around">
                    <button class=" btn waves-effect waves-light d-flex" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Confirm Ticket
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            }
            else if (Model.Status == "Reversed")
            {
                <div class="d-flex justify-content-around">
                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Reschedule Ticket
                        <i class="material-icons right">autorenew</i>
                    </button>
                </div>
            }
            else if (Model.Status == "Cancelled")
            {
                <h4 class="text-center">Tickets cancelled</h4>
                <a class="btn waves-effect waves-light" href="/../Home">
                    Home Page
                    <i class="material-icons right">remove_circle</i>
                </a>

            }
            else
            {
                <div class="d-flex justify-content-around">
                    <button class=" btn waves-effect waves-light d-flex" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Confirm Ticket
                        <i class="material-icons right">send</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Reschedule Ticket
                        <i class="material-icons right">autorenew</i>
                    </button>
                </div>
            }


        </div>
    </div>
</section>
