@model ARSWebMVC.Models.Ticket
@using ARSWebMVC.Models
@{
    ViewBag.Title = "TicketDetail";

}
<section class="ticketdetail animated wow fadeIn pt-5 pb-5">
    <div class="container">
        <div class="card">

            <div class="card-panel p-0 mb-0">
                <div class="grey lighten-4 p-3"></div>
                <div class="teal p-3"></div>
            </div>
            <div class=" mt-0 p-4">
                <div class="row">
                    <div class="col">
                        <b class="text-center text-md-left pt-2"> NAME OF PASSENGER&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.Profile.LastName</span>
                        <span>@Model.Profile.FirstName</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">TICKET CODE&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.TicketCode</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">STATUS&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.Status</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">CHILDREN COUNT&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.ChildrenCount</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">SENIOR COUNT&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.SeniorCount</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">ADULT COUNT&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.AdultCount</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">CLASS&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.AirplaneClass.Class class</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">ORDER DATE&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>@Model.OrderDate.ToString("dd/MM/yyyy")</span>
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">SKYMILE&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        @{
                            int totalSkymile = 0;
                            foreach (FlightSchedule flightSchedule in Model.FlightSchedules)
                            {
                                totalSkymile = flightSchedule.Route.SkyMiles + totalSkymile;
                            }
                            <span>@(totalSkymile) </span>
                        }
                        <hr class="m-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b class="text-center pt-2">TOTAL COST&nbsp;:</b>
                    </div>
                    <div class="col-8 ml-auto text-center">
                        <span>$&nbsp;</span><span>@Model.TotalCost</span>
                        <hr class="m-1" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-outline-info" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Flight Details
                    </a>
                </div>
                <div class="row table-scroll ">
                    <div class="collapse w-100" id="collapseExample">
                        <div class="mt-3 ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">AIRPLANE CODE</th>
                                        <th >AIRPLANE TYPE</th>
                                        <th >DEPARTURE DATE</th>
                                        <th >FROM</th>
                                        <th>TO</th>
                                        <th >COST</th>
                                        <th class="text-right" >SKYMILE</th>

                                    </tr>
                                </thead>
                                <tbody class="p-3">
                                    @foreach (FlightSchedule flightSchedule in Model.FlightSchedules)
                                    {
                                        <tr class="">
                                            <td class="text-center">@flightSchedule.AirplaneCode</td>
                                            <td>@flightSchedule.Airplane.AirplaneType.Name</td>
                                            <td>@flightSchedule.DepartureDate.ToString("dd/MM/yyyy")</td>
                                            <td>@flightSchedule.Route.City.City1</td>
                                            <td class="text-left">@flightSchedule.Route.City1.City1</td>
                                            @{
                                                double rate = 1;

                                                if (Model.AirplaneClass.ID == 1)
                                                {
                                                    rate = 1.75;
                                                }
                                                else if (Model.AirplaneClass.ID == 2)
                                                {
                                                    rate = 1.57;
                                                }

                                                <td><span>$&nbsp;</span>@Math.Round((flightSchedule.Route.BasePrice * rate) * (Model.ChildrenCount + Model.AdultCount + Model.SeniorCount), 2)</td>
                                            }
                                            <td class="text-right">@flightSchedule.Route.SkyMiles</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="mb-5" />
                <div class="justify-content-center">
                    @if (Model.Status == "Blocked")
                    {
                        <div class="d-md-flex justify-content-md-around">
                            <button class=" btn danger-color-dark d-flex  " type="submit" name="action">
                                Cancellation
                            </button>

                            <button class="btn teal d-flex" type="submit" name="action">
                                Confirm Ticket

                            </button>
                        </div>
                    }
                    else if (Model.Status == "Reversed")
                    {
                        <div class="d-md-flex justify-content-md-around">

                            <button class="btn danger-color-dark d-flex " type="submit" name="action">
                                Cancellation

                            </button>

                            <button class="btn teal d-flex" type="submit" name="action">
                                Reschedule Ticket

                            </button>

                        </div>
                    }
                    else if (Model.Status == "Cancelled")
                    {
                        <h4 class="text-center">Tickets cancelled</h4>
                        <div class="text-center">
                            <a class="btn-outline-default btn teal" href="/../Home">
                                Home Page
                            </a>
                        </div>

                    }
                    else
                    {
                        <div class="d-md-flex justify-content-md-around">
                            <button class=" btn danger-color-dark d-flex " type="submit" name="action">
                                Cancellation
                            </button>

                            <button class="btn teal d-flex" type="submit" name="action">
                                Confirm Ticket

                            </button>

                            <button class="btn teal d-flex" type="submit" name="action">
                                Reschedule Ticket

                            </button>
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>
</section>
