<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="teal lighten-2">
        <div class="container">
            <div class="nav-wrapper">
                @Html.ActionLink("Logo", "Index", "Home", null, new { @class = "brand-logo" })
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "" })</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>




    <ul class="sidenav  blue-grey darken-1 white-text pt-5 pl-3" id="mobile-demo">
        @Html.Partial("_LoginPartial")
    </ul>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
