<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using ARSWebMVC.Models
    @{ Profile user = (Profile)HttpContext.Current.Session["UserProfile"]; }
</head>

<body>
    <nav class="blue darken-1 Mynavbar">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                @Html.ActionLink("Logo", "Index", "Home", null, new { @class = "brand-logo" })
                <div class="row  hide-on-med-and-down">
                  
                    <ul class="col-11 ml-auto pt-1 d-flex">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Ticket", "Index", "Ticket", null, new { @class = "" })</li>
                        @if (Session["UserProfile"] == null)
                        {
                            <li class="ml-auto">
                                <div class="d-flex flex-row ">
                                    @Html.ActionLink("Login", "Login", "UserAccount", null, new { @class = "" })
                                    @Html.ActionLink("Register", "Register", "UserAccount", null, new { @class = "" })
                                </div>

                            </li>

                        }
                        else
                        {
                            <li class="">
                                <div class="d-flex flex-row ">
                                    <span class="pl-2 ">Hello :</span>
                                    @Html.ActionLink(@user.UserID.ToString(), "Profile", "UserAccount", null, new { @class = "pl-2  " })
                                    @Html.ActionLink("(logout)", "Logout", "UserAccount", null, new { @class = "pl-2  text-md-dark" })
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <ul class="sidenav pt-5 pl-3 pr-3" id="mobile-demo">
        <li>@Html.ActionLink("Ticket", "Index", "Ticket", null, new { @class = "" })</li>
        @Html.Partial("_LoginPartial")
    </ul>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
