@using ARSWebMVC.Models
@{ Profile user = (Profile)HttpContext.Current.Session["UserProfile"]; }
@if (Session["UserProfile"] == null)
{
    <li >
        @Html.ActionLink("Login", "Login", "UserAccount", null, new { @class = "nav-link" })
    </li>
    <li >
        @Html.ActionLink("Register", "Register", "UserAccount", null, new { @class = "nav-link" })
    </li>
}
else
{
    <li class="d-flex flex-row">
        <span class="p-2">Hello :</span>
        @Html.ActionLink(@user.UserID.ToString(), "Profile", "UserAccount", null, new { @class = "p-2" })
        @Html.ActionLink("(logout)", "Logout", "UserAccount", null, new { @class = "p-2" })
    </li>
    <li>
        
    </li>
}