@using ARSWebMVC.Models
@{ Profile user = (Profile)HttpContext.Current.Session["UserProfile"]; }
@if (Session["UserProfile"] == null)
{
    <li class="">
        @Html.ActionLink("Login", "Login", "UserAccount", null, new { @class = "" })
    </li>
    <li class="">
        @Html.ActionLink("Register", "Register", "UserAccount", null, new { @class = "" })
    </li>
}
else
{
    <li class="  ">
        <div class="d-flex flex-row ">
            <span class="pl-2 ">Hello :</span>
            @Html.ActionLink(@user.UserID.ToString(), "Profile", "UserAccount", null, new { @class = "pl-2   text-dark " })
            @Html.ActionLink("(logout)", "Logout", "UserAccount", null, new { @class = "pl-2  text-dark" })
        </div>
    </li>
}