@using ARSWebMVC.Models
@{ Profile user = (Profile)HttpContext.Current.Session["UserProfile"]; }
@if (Session["UserProfile"] == null)
{
    <li class="nav-item ml-md-auto">
        @*@Html.ActionLink("Login", "Login", "UserAccount", null, new { @class = "nav-link " })*@
        <a id="btnlogin" class="nav-link" @*data-toggle="modal" data-target="#exampleModal"*@>Login</a>
    </li>
    <li class="nav-item ">
        @Html.ActionLink("Register", "Register", "UserAccount", null, new { @class = "nav-link " })
    </li>
}
else
{
    <li class="nav-item dropdown ml-md-auto">
        <a class="nav-link dropdown-toggle " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@user.UserID.ToString()</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            @Html.ActionLink("Profile", "Profile", "UserAccount", null, new { @class = "dropdown-item" })
            @Html.ActionLink("Ticket", "Index", "Ticket", null, new { @class = "dropdown-item" })
            @Html.ActionLink("(logout)", "Logout", "UserAccount", null, new { @class = "dropdown-item" })


        </div>
    </li>
}